<div id="header">
	<div class="row">
	  <div class="large-12 columns">
	  	<div class="large-3 columns">
	  		<%= image_tag "logo.png", style: "height: 130px;padding: 11px;"%>
	  	</div>
	  	<div class="large-9 columns">
	  		<ul class="inline-list">
				  <li><i class="fa fa-envelope-o"> alex@magickdevs.com</i></li>
				  <li><i class="fa fa-phone"> +56 9 7173 0316</i></li>
				  <li><i class="fa fa-bug"> www.magickdevs.com</i></li>
				</ul>
	  	</div>
	  </div>
	</div>
</div>

<div id="client_data">
	<div class="row">
	  <div class="large-6 columns content text-center" style="margin-top: 50px;">
	  	<div class="large-6 columns">
	  		<p><small>Cotización para:</small></p>
		  </div>
		  <div class="large-6 columns">
		  	<p>Pablo Cremaschi</p>
		  </div>
	  </div>
	  <div class="large-6 columns content text-center">
	  	<div class="large-12 columns">
	  		<%= image_tag "logo_viña.jpg"%>
		  </div>
	  </div>
	</div>
</div>

<div style="background-color: #26272F">
	<div class="row">
	  <div class="large-12 columns">
	  	<h4 style="color: #E8E8E6">SOPORTE</h4>
	  </div>
	</div>
</div>

<div id="development">
	<div class="row">
	  <div class="large-6 columns content text-left">
	  	<p>Plan de Mantención Plus</p>
	  	<ul class="side-nav">
	  		<p style="font-size: 20px;">Descripción:</p>
			  <li>8 Visita mensuales</li>
			  <li>4 Horas mensuales</li>
			  <li>** Hora extra de 0.75 UF</li>
			</ul>
			<!-- <table>
			  <thead>
			    <tr>
			      <th width="200">Plan</th>
			      <th width="150">Horas de soporte</th>
			      <th width="150">Número de visitas</th>
			      <th width="150">Precio en UF</th>
			      <th width="150">Precio hora adicional en UF</th>
			    </tr>
			  </thead>
			  <tbody>
			    <tr>
			      <td>Básico</td>
			      <td>2</td>
			      <td>1</td>
			      <td>5</td>
			      <td>0,5</td>
			    </tr>
			    <tr>
			      <td>Standard</td>
			      <td>6</td>
			      <td>3</td>
			      <td>9</td>
			      <td>0,7</td>
			    </tr>
			    <tr>
			      <td>Plus</td>
			      <td>8</td>
			      <td>4</td>
			      <td>13</td>
			      <td>0,75</td>
			    </tr>
			    <tr>
			      <td>Premium</td>
			      <td>10</td>
			      <td>5</td>
			      <td>17</td>
			      <td>0,85</td>
			    </tr>
			  </tbody>
			</table>-->
	  </div>
	  <div class="large-6 columns content text-center">
	  	<i class="fa fa-server"></i>
	  </div>
	</div>
</div>

<div id="price">
	<div class="row">
	  <div class="large-6 columns content text-center">
	  	<ul class="side-nav">
			  <li>** Valor IVA incluido</li>
			  <li>*** Costo Mensual</li>
			</ul>
	  </div>
	  <div class="large-6 columns content text-center">
	  	<div class="large-12">
	  		<div id="price_list">
	  			<ul class="inline-list text-center">
					  <li>TOTAL</li>
					  <li>|</li>
					  <li> 13 UF</li>
					</ul>
	  		</div>
	  	</div>
	  	<div class="large-12 text-center">
	  		<%#= image_tag "firma.png"%>
	  	</div>
	  </div>
	</div>
</div>

<%= image_tag "footer.png", style: "width: 100%;"%>








